.account_mgr_nav{
    padding-right: 10px;
    background-color:#fff;
    height: 60px;
}
.account_mgr_nav a{
    height: 60px;
    display: block;
    float: left;
    line-height: 60px;
    font-size: 16px;
    width:100px;
    text-align: center;
    color:#333;
}
.account_mgr_nav a:hover,.account_mgr_nav a.active{
    border-bottom:2px solid #b39a5a;
    color: #b39a5a;
}
.account_mgr_nav .back{
    float: right;
    color:#888;
    padding-left: 20px;
    width: 130px;
    background-image: url(../../img/admin/icon_center_return.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.account_mgr_nav .back:hover{
    color: inherit;
    border: none;
}


#add_content{
    font-size: 14px;
    width:540px;
}
#add_content .entry{
    padding: 20px 0px;
    clear: both;
    text-align: center;
}
#add_content .field_label{
    text-align: right;
    width:90px;
    height:32px;
    line-height: 32px;
    float: left;
}
#add_content .field_value{
    width:270px;
    height: 32px;
    line-height: 32px;
    border:1px solid #ddd;
    float: left;
    text-indent: 10px;
}
#add_content .upload{
    position: relative;
}
#add_content .upload input{
    position: absolute;
    left: 0px;
    outline: none;
    z-index: 2;
}
#add_content .upload button{
    position: absolute;
    right: 0px;
    height: 32px;
    background-color: #ddd;
    line-height: 32px;
    border:none;
    outline: none;
    z-index: 1;
    cursor: pointer;
}
#add_content .tips{
    font-size: 12px;
    color: #888;
    padding-left: 10px;
    line-height: 32px;
    float: left;
    padding-top: 0px;
}
#add_content .form_btn{
    text-align: left;
}
#add_content .form_btn button{
    margin-right: 20px;
    border:1px solid #4f5563;
    height: 34px;
    outline: none;
    border-radius: 2px;
    width: 140px;
    font-size: 16px;
    background-color: #fff;
}
#add_content .form_btn .submit{
    background-color: #4f5563;
    color: white;
}
