@CHARSET "UTF-8";
*{margin:0;padding:0;}
ul,li{list-style: none;}
input{outline:0;}
.content{width: 1030px;padding: 20px 0 0 20px;font-family: 'Microsoft YaHei';color: #333;}
.box{
    padding-bottom: 30px;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.panel_title{height: 55px;line-height:55px;border-bottom: 1px solid #e3e3e3;font-size: 16px;font-weight: normal;}
.panel_title span{
    font-size: 12px;
}
.invoicebtn button{
    font-size: 14px;
    width: 170px;
    height: 40px;
    border:1px solid #eee;
    background-color: #fff;
}
.invoicebtn button.active{
    border: 1px solid #515663;
    position: relative;
}
.invoicebtn button.active i{
    position: absolute;
    bottom:0px;
    right: 0px;
    width:21px;
    height: 21px;
    background: url(../../img/admin/icon_center_xuanzhongkuang.png) no-repeat;
}
.invoice_box{
    border:2px solid #eee;
    padding:20px;
    height: 220px;
    position: relative;
}
.invoice_box .add_invoice{
    width: 140px;
    height: 40px;
    color: white;
    background: #af934d;
    border:none;
    font-size: 14px;
    display: block;
    margin: auto;
    margin-top: 75px;
}
.add_address{
    width: 140px;
    height: 40px;
    color: white;
    background: #af934d;
    border:none;
    font-size: 14px;
    margin-right: 20px;
}
.item{
    border:2px solid #e2e2e2;
    padding:20px 20px 10px 20px;
    position: relative;
}
.item_title{
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
.item_title .default{
    color: white;
    font-size: 14px;
    background: #af934d;
    padding:2px 10px;
    margin-left: 20px;
}
.item_tools{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.item_tools a{
    margin-left: 10px;
}
 .close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    width: 20px;
    height: 18px;
    background: url(../../img/admin/icon_center_close01.pn2.png)
}
 .prop{
    line-height: 34px;
    display: block;
}
 .prop .dt, .prop .dd{
    float: left;
}
 .prop .dt{
    width: 60px;
    text-align: right;
}

