.container{
    padding-top: 0px;
    padding-right: 20px;
    background-color: white;
    margin-left: 20px;
}
.addproduct_title{
    font-size: 16px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.field_entry{
    height: 30px;
    line-height: 30px;
    margin:30px 0;
    clear:both;
}
.field_entry .field_label{
    width:80px;
    text-align: right;
    float: left;
}
.field_entry .field_value{
    float: left;
    padding-left: 10px;
}
.field_entry .field_value input,.field_entry .field_value select,.field_entry .field_value textarea{
    width:430px;
    margin-right: 10px;
}
.field_entry .field_value select{
    height: 30px;
}
.field_entry .field_value select.min_select{
    width: 90px;
}
.field_entry .field_value input,.field_entry .field_value select,.field_entry .field_value textarea{
    border:1px solid #ddd;
    text-indent: 10px;
}
.field_value .uploadpic{
    width: 100px;
    height: 100px;
    background-image: url(../../img/admin/image_center_09.png);
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}
.field_value .uploadintro{
    color: #aaa;
}
.field_entry .submit{
    margin-top: 20px;
    margin-left: 90px;
    border:none;
    border-radius: 2px;
    color:white;
    height: 34px;
    font-size: 16px;
    width: 430px;
    background-color: #515663;
}