.order_title{height: 55px;line-height:55px;font-size: 16px;font-weight: normal;background-color: #fff;padding-left: 20px;}
.gray{
    color:#aaa;
}
.search_box{
    padding: 20px;
    font-size: 14px;
}
.search_box .field{
    float: left;
    height: 30px;
    margin:5px 0;
}
.search_box .field.query{
    float: right;
    color: white;
    background-color: #515663;
    border:none;
    border-radius: 2px;
    width: 100px;
}
.search_box .fname{
    width: 70px;
}
.search_box .fvalue{
    margin-right: 20px;
    height: 30px;
    text-indent: 10px;
}
.search_box input{
    border:1px solid #ddd;
}
.search_box .fvalue.orderid,.search_box .fvalue.proname{
    width: 320px;
}
.search_box .start_push_date{
    margin-right: 0px;
}
.search_box .field.status button{
    width: 110px;
    margin-right: 10px;
    background-color: #fff;
    border:1px solid #ddd;
    height: 30px;

}
.search_box .field.status button.active{
    position: relative;
    border:1px solid #515663;
}

.search_box .field.status button.active i{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 21px;
    height: 21px;
    background-image: url(../../img/admin/icon_center_xuanzhongkuang.png);
    background-repeat: no-repeat;
}
.orderlistwrap{
    padding:20px;
    background-color: #fff;
}
#deliver_content{
    padding: 10px;
}
.diliver_entry{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    width:400px;
    margin-bottom: 10px;
}
.diliver_entry .field_name{
    width:110px;   
    float: left;
    text-align: right;
}
.diliver_entry input[type=text]{
    width: 230px;
    height: 32px;
    float: left;
    line-height: 32px;
}
.diliver_entry input[type=radio]{
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 34px;
}
 #upload{
    height: 34px;
    width:100px;
    background: none;
    background-color: #fff;
    border-radius: 2px;
    border:1px solid #515663;
    
}
