@CHARSET "UTF-8";
*{margin:0;padding:0;}
ul,li{list-style: none;}
input{outline:0;}
.content{width: 970px;background: #fff;padding: 0 20px;font-family: 'Microsoft YaHei';color: #333;}
.change-title{height: 55px;line-height:55px;border-bottom: 1px solid #e3e3e3;font-size: 16px;font-weight: normal;}
.word-list li{overflow: hidden;height: 34px;font-size: 12px;margin-top: 25px;}
.word-list li span{float: left;text-align: right;width: 85px;padding-right: 5px;height: 34px;line-height: 34px;}
.word-list li input{float: left;width: 268px;height: 32px;line-height:32px;border: 1px solid #ccc;text-indent: 10px;}
.word-list li .affirm{float: left;width: 270px;height: 34px;line-height: 34px;background: #4f5562;text-decoration: none;text-align: center;font-size: 16px;color: #f5f5f5;border-radius: 3px;}
.word-list li .affirm:hover{text-decoration: none;}