.nav_title{
    height: 55px;
    line-height:55px;
    font-size: 16px;
    font-weight: normal;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.nav_title .back{
    color: #888;
    float: right;
    padding-left: 30px;
    background-image: url(../../img/admin/icon_center_return.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.box{

}
.box_title{
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}
.base .entry{
    margin-top: 20px;
    margin-bottom: 20px;
}
.base .entry .field_label{
    width:100px;
    text-align: right;
    float: left;
    height:34px;
    line-height: 34px;
}
.base .entry .field_value{
    float: left;
    line-height: 34px;
}
.base .entry .field_value input[type=text]{
    border:1px solid #ddd;
    outline: none;
    padding: 0px;
    height: 32px;
    padding-left: 10px;
    width:320px;
}
.base .entry .cert{

}
.base .entry .cert .cert_item{
    float: left;
    width: 180px;
    margin-right: 20px;
}
.base .entry .cert .cert_item img{
    width: 100%;
    height: 100px;
}
.base .entry .cert .cert_item input{
    width: 100%;
}
.base .entry .address_value select{
    width:100px;
    height: 32px;
    border:1px solid #ddd;
    margin-right: 7px;
}
.base .entry .field_value .min{
    width: 110px !important;
}
.base .entry .apply {

}
.base .entry .apply label{
    color: #888;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.base .entry .apply label.active{
    color: #333;
}
.record table{
    margin-top: 20px;
}
.record table th,.record table td{
    width: 180px;
    text-align: center;
}
.checkbtns{
    padding: 30px;
    text-align: center;
}
.checkbtns button{
    width:280px;
    height: 34px;
    border-radius: 2px;
    color:white;
    font-size: 16px;
    border:none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
}
.checkbtns button:nth-child(1){
    background-color: #525662;
}
.checkbtns button:nth-child(2){
    background-color: #af924c;
}
.checkbtns .tips{
    text-align: center;
    color: #b39a5a;
    padding-top: 20px;
}

#check_unpass_content{
    width: 500px;
}
#check_unpass_content .entry{
    font-size: 14px;
    text-align: center;
}
#check_unpass_content .field_label{
    width: 80px;
    line-height: 30px;
    vertical-align: top;
}
#check_unpass_content textarea{
    width: 380px;
    height: 100px;
    resize: none;
    border:1px solid #ddd;

}










/**/
