.account_mgr_nav{
    padding-right: 10px;
    background-color:#fff;
    height: 60px;
}
.account_mgr_nav a{
    height: 60px;
    display: block;
    float: left;
    line-height: 60px;
    font-size: 16px;
    width:100px;
    text-align: center;
    color:#333;
}
.account_mgr_nav a:hover,.account_mgr_nav a.active{
    border-bottom:2px solid #b39a5a;
    color: #b39a5a;
}
.account_mgr_nav .back{
    float: right;
    color:#888;
    padding-left: 20px;
    width: 130px;
    background-image: url(../../img/admin/icon_center_return.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.account_mgr_nav .back:hover{
    color: inherit;
    border: none;
}
.category{
    margin-top: 10px;
}
.category tr[data-parent]{
    display: none;
}
.category td{
    line-height: 30px;
    height: 30px;
}
.category td.second{
    padding-left: 50px;
}
.category td.third{
    padding-left: 100px;
}
.category th:nth-child(1){
    width: 770px;
}
.category td:nth-child(2) {
    text-align: right;
    padding-right: 20px;
}
.category td:nth-child(2) a{
    margin-right: 10px;
}
.category i{
    width: 14px;
    height: 14px;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    cursor: pointer;
    background-size:80%;
    margin-right: 5px;
    background-image: url(../../img/admin/icon_center_tianjia.png);
}
.category .on{
    background-image: url(../../img/admin/icon_center_shanchu.png);
}

#add_content{
    font-size: 14px;
    width:540px;
}
#add_content .entry{
    padding: 20px 0px;
    clear: both;
    text-align: center;
}
#add_content .field_label{
    text-align: right;
    width:90px;
    height:32px;
    line-height: 32px;
    float: left;
}
#add_content .field_value{
    width:270px;
    height: 32px;
    line-height: 32px;
    border:1px solid #ddd;
    float: left;
    text-indent: 10px;
}
#add_content .upload{
    position: relative;
}
#add_content .upload input{
    position: absolute;
    left: 0px;
    outline: none;
    z-index: 2;
}
#add_content .upload button{
    position: absolute;
    right: 0px;
    height: 32px;
    background-color: #ddd;
    line-height: 32px;
    border:none;
    outline: none;
    z-index: 1;
    cursor: pointer;
}
#add_content .tips{
    font-size: 12px;
    color: #888;
    padding-left: 10px;
    line-height: 32px;
    float: left;
    padding-top: 0px;
}


























/**/
