.mt10{margin-top: 10px}
.bold{font-weight: bold;}
.orderbreadcrumb{
    padding-bottom: 10px;
}
.box{
    padding:20px;
    background-color: #fff;
    text-align: center;
}
.box2{
    padding:30px 20px 30px 20px;
    background-color: #fff;
}
.order_title{height: 35px;font-size: 16px;font-weight: normal;border-bottom: 1px solid #e3e3e3;text-align: left;}

.progressbar{ height: 200px; padding-left: 120px; padding-top: 60px;}
.progressbar .bar{width:100%;float: left;}
.progressbar .bar li{
    float: left;
    font-size: 16px;
    background: url(../../img/admin/icon_center_step03.png) center top no-repeat;
    width: 180px;
    padding-top: 50px;
    height: 80px;
    text-align: center;
    color: #999;
    position: relative;
}
.progressbar .bar li.done{
    background: url(../../img/admin/icon_center_step01.png) center top no-repeat;
    color: #af934d;
}
.progressbar .bar li:before, 
.progressbar .bar li.done.current:after{content:""; height: 8px; width:132px; top: 18px; left: 114px; background: #f1f1f1; position: absolute;}
.progressbar .bar li:last-child:before{background: none;}
.progressbar .bar li.done:before{background: #af934d;}
.progressbar .bar li.done.current:before{background: #f1f1f1;}
.progressbar .bar li.done.current:after{background: #af934d; width:66px; border-radius: 0 4px 4px 0;}

.msg{
    font-size: 16px;
    margin:50px auto 40px auto;
    text-align: center;
}
.link{
    color: white;
    width: 280px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #515663;
    border:none;
    border-radius: 2px;
    margin-right: 10px;
    margin:auto 10px auto 10px;
}
