
.pm_nav{
    background-color: #fff;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 16px;
}
.pm_nav li{
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.pm_nav li.active{
    color:  #b39a5a;
    border-bottom: 2px solid #b39a5a;
}
.search_box {
    padding: 20px;
    height: 70px;
    line-height: 30px;
}
.search_box label{
    width:80px;
    font-size: 14px;
    color:#000;
}
.search_box input{
    border:1px solid #ddd;
    height: 30px;
    width:310px;
    margin-right: 20px;
}
.search_box button{
    width: 100px;
    color: white;
    border-radius: 2px;
    background-color: #525662;
    border: none;
    height: 30px;
    float: right;
    font-size: 16px;
}
